* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: Poppins, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #2d2b34;
}

.header {
  width: 100%;
  // background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.header h1 {
  font-size: 16px;
  font-weight: 400;
  flex: 2;
  text-align: center;
}

.menu-icon-wrapper {
  background-color: #22223a;
  border-radius: 500px;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots-wrapper div {
  // background-color: pink;
  border-radius: 500px;
  height: 5px;
  width: 5px;
  margin: 4px 2px;
}

.light-dot {
  background-color: #a1a0bc;
}

.dark-dot {
  background-color: #55546d;
}

.calender-icon-wrapper{
  background-color: #22223a;
  border-radius: 500px;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calender-icon-wrapper svg {
  transform: scale(0.8);
  opacity: 0.6;
}

/*  Balance wrapper */

.balance-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
}

.balance-wrapper h3 {
  color: #55546d;
  font-size: 11px;
  letter-spacing: 1px;
}

.balance-wrapper h1 {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 5px;
}

.balance-wrapper h1 span {
  font-size: 22px;
}